{% extends 'base.html' %}
{% from 'macros.html' import card with context %}

{% block title %}
{% trans %}Т-переход{% endtrans %}
{% endblock title %}

{% block head_description %}
{% trans %}Уставные документы{% endtrans %} {{ SITENAME|striptags|e }}
{% endblock head_description %}

{% block content %}
<main class="section-wrapper">
    <div class="section">
        <div class="section-header-wrapper">
            <div class="section-header">{% trans %}Т-переход{% endtrans %}</div>
        </div>
        <section class="cards">
            {{ card(pages|get("vpoiske")) }}
            {{ card(pages|get("moiperehod5_4")) }}
        </section>
    </div>
</main>
{% endblock content %}
